*{
    margin: 0;
    padding: 0;
    background: #ccc;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    overflow: hidden;
}

#game{
    visibility: hidden;
    display: grid;
    grid-template-columns: repeat(3,5fr);
    grid-template-rows: repeat(3,5fr);
    grid-gap: 3px;
}

.grid-item{
    height: 70px;
    width: 70px;
    border: 2px solid black;
    padding: 70px;
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid-item:hover{
    background: rgba(41, 41, 51, 0.183);
}

#winning-font{
    font-size: 55px;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
}

#display{
    font-size: 2rem;
    margin: 10px;
    color: rgba(0, 0, 0, 0.546);
}

button{
    border: none;
    padding: 10px 15px;
    margin: 5px;
    background-color: rgba(102, 101, 101, 0.594);
    border-radius: 10px;
}

button:active{
    color: navy;
    background-color: rgba(102, 101, 101, 0.817)
}

footer{
    height: 25%;
    display: flex;
    align-items: flex-end;
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px){
    *{
        margin: 0;
        padding: 0;
        background: #ccc;
        box-sizing: border-box;
    }
    body{
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    #game{
        display: grid;
        grid-template-columns: repeat(3,5fr);
        grid-template-rows: repeat(3,5fr);
        grid-gap: 3px;
    }
    
    .grid-item{
        height: 70px;
        width: 70px;
        border: 2px solid black;
        padding: 55px;
        font-size: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .grid-item:hover{
        background: rgba(41, 41, 51, 0.183);
    }
    
    #winning-font{
        font-size: 30px;
        display: flex;
        flex-direction: column; 
        justify-content: center;
        align-items: center;
    }
    
    #display{
        margin: 10px;
        color: rgba(0, 0, 0, 0.546);
    }
    button{
        border: none;
        padding: 10px 15px;
        margin: 5px;
        background-color: rgba(102, 101, 101, 0.594);
        border-radius: 10px;
    }
    button:hover{
        border: none;
        padding: 10px 15px;
        margin: 5px;
        background-color: rgba(102, 101, 101, 0.305);
        border-radius: 10px;
    }
    
    button:active{
        color: navy;
        background-color: rgba(102, 101, 101, 0.817)
    }
}